:root { 
--gray_600_ab:#747272ab; 
--blue_gray_100_01:#d0d0d0; 
--gray_900_ab:#131111ab; 
--light_green_100:#dee2c5; 
--light_green_300:#b6bd92; 
--light_green_400:#969f69; 
--gray_400_e5:#b3b2b2e5; 
--gray_800_01:#525441; 
--gray_700_e5:#6a6f4ce5; 
--gray_600_e5:#7b7a7ae5; 
--black_900:#000000; 
--gray_400_ab:#b3b2b2ab; 
--blue_gray_100_b2:#d9d9d9b2; 
--gray_500_01:#afa09b; 
--white_A700_ab:#ffffffab; 
--gray_900_e5:#131111e5; 
--teal_900:#184e40; 
--gray_500_03:#aa9d98; 
--gray_500_02:#9e908b; 
--black_900_9b:#0a0a0a9b; 
--gray_500_05:#a1a1a1; 
--gray_500_04:#af9f9a; 
--gray_600:#8b9269; 
--lime_200:#e0e8b1; 
--gray_700:#6a6f4c; 
--white_A700_e5:#ffffffe5; 
--gray_400:#cbb89d; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a58e74; 
--gray_600_01:#898f69; 
--blue_gray_100_cc:#d9d9d9cc; 
--gray_800:#3d3d37; 
--gray_900:#222121; 
--teal_A100:#a2f3de; 
--gray_300:#dfd4d0; 
--gray_700_b2:#68615eb2; 
--gray_100:#fff5f2; 
--gray_400_01:#c1b1ab; 
--lime_50:#fbffea; 
--gray_700_02:#68615e; 
--black_900_9b_01:#0303039b; 
--white_A700:#ffffff; 
--gray_700_00:#6a6f4c00; 
--gray_700_66:#6a6f4c66; 
--gray_700_01:#6b7048; 
--teal_900_87:#184e4087; 
}